# update values based on service principle
azure_client_id = "<appId>"
azure_client_secret = "<password>"
azure_tenant_id = "<tenant>"
azure_subscription_id = "<subscriptionId>"

# update to a unique value (using just lowercase letters)
openshift_azure_resource_prefix = "os"
openshift_azure_resource_suffix = "test"

# update to match filenames
openshift_azure_public_key = "~/.ssh/randomKey.pub"
openshift_azure_private_key = "~/.ssh/randomKey"

# update as desired
openshift_azure_region = "East US"
openshift_azure_vm_username = "ocpadmin"
openshift_initial_password = "P@ssWord!123#"

# set vm counts and settings
openshift_azure_master_vm_count = 1
openshift_azure_node_vm_count = 1
openshift_azure_infra_vm_count = 1
#openshift_azure_master_vm_size = "Standard_DS2_v2"
#openshift_azure_data_disk_size = 128
openshift_azure_vm_os = {
  publisher = "OpenLogic"
  offer     = "CentOS"
  sku       = "7.7"
  version   = "latest"
}
#openshift_azure_infra_vm_address_space       = ""
#openshift_azure_master_subnet_address_prefix = ""
#openshift_azure_node_subnet_address_prefix   = ""
#openshift_azure_default_subdomain            = "xip.io"

# ansible script location and version
openshift_ansible_url             = "https://github.com/openshift/openshift-ansible.git"
openshift_ansible_branch          = "openshift-ansible-3.11.155-1"
